<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cálculo de notas finales Acceso + 25 UNED
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h1>Bienvenido/a y mucha suerte</h1>

  <h2>Introduce tus notas en los respectivos campos</h2>
  <br>
  <div class="ion.padding">
    <h3>Notas Bloque General</h3>
    <!-- Input Nota lengua -->
    <h5>Nota Lengua Española</h5>
    <ion-input type="number" placeholder="Introduce tu calificación aquí"></ion-input>
    <!-- Input Nota Comentario -->
    <h5>Nota Comentario de Texto</h5>
    <ion-input type="number" placeholder="Introduce tu calificación aquí"></ion-input>
    <!-- Input Nota Inglés -->
    <h5>Nota Lengua Inglesa</h5>
    <ion-input type="number" placeholder="Introduce tu calificación aquí"></ion-input>

  </div>
  <br>
  <div class="ion.padding">
    <h3>Notas Bloque Específico</h3>
      <!-- Input Nota Específica 1 -->
      <h5>Nota Materia Específica 1</h5>
      <ion-input type="number" placeholder="Introduce tu calificación aquí"></ion-input>
      <!-- Input Nota Específica 2 -->
      <h5>Nota Materia Específica 2</h5>
      <ion-input type="number" placeholder="Introduce tu calificación aquí"></ion-input>
  </div>

  <!-- Añadimos botón para calcular las notas -->
  <ion-button click="calcularMedias()">Calcular Nota Final</ion-button>

</ion-content>
